.label{
  width: 100%;
  padding: 10px 0 10px 30px;
  background: transparent;
  transition: background .3s ease-in-out;
  &:hover{
    background: #F1FCFF;
  }
}

.name{
  font-size: 13px;
  line-height: 153.846%;
  margin-left: 10px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    background-image: url('./img/checkbox.png');
  }
}

.input{
  opacity: 0;
  visibility: hidden;
  &:checked ~ .name::before {
    background-image: url('./img/checkbox-checked.png');
  }
}